@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: bold;
  src: local('Corben'), url('http://themes.googleusercontent.com/static/fonts/corben/v5/ljkAb4w-83fUltRn9aENdT8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
