.counter-holder {
    padding: 15px 0;
    text-align: center;
    border-bottom: dotted 1px #dddddd;
}

.counter-holder span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
}

.counter .digit {
    background: #111111;
    background: #444444;
    border-radius: 3px;
    color: white;
    width: 24px;
    height: 38px;
    margin: 0 1px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.counter-holder hr {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}